---
import type { MarkdownLayoutProps } from 'astro'
import { css } from '../../panda/css'
import { Box, Container, HStack, Stack } from '../../panda/jsx'
import { DemoTooltip } from '../components/shared/DemoTooltip'
import { Text } from '../components/shared/Text'
import BaseLayout from './BaseLayout.astro'

type Props = MarkdownLayoutProps<{
  title: string
  description: string
  url: string
}>

const { frontmatter } = Astro.props
---

<BaseLayout>
  <Container as="main">
    <Stack gap="24" direction="row" height="100%" position="relative">
      <Box
        as="aside"
        minW="256px"
        position="sticky"
        display={{ base: 'none', lg: 'block' }}
        top="92px"
      >
        <Stack gap="12">
          <Stack
            as="ul"
            gap="4"
            textStyle="sm"
            fontWeight="medium"
            color="fg.muted"
            listStyle="none"
            ps="0"
          >
            <li>
              <HStack as="a" gap="4" fontWeight="semibold" color="accent.default">
                <Box w="6" h="6" backgroundColor="bg.subtle" borderRadius="md" />
                Documentation
              </HStack>
            </li>
            {
              [, 'Discord', 'GitHub'].map((item) => (
                <li>
                  <HStack as="a" gap="4">
                    <Box w="6" h="6" backgroundColor="bg.subtle" borderRadius="md" />
                    {item}
                  </HStack>
                </li>
              ))
            }
          </Stack>
          <Stack gap="3">
            <Text fontSize="sm" lineHeight="1.5rem" fontWeight="semibold">Getting started</Text>
            <Stack borderLeftWidth="1px" gap="2">
              {
                ['Welcome'].map((item) => (
                  <Text
                    textStyle="sm"
                    lineHeight="1.5rem"
                    pl="4"
                    color="accent.default"
                    fontWeight="semibold"
                    ml="-1px"
                    borderLeftWidth="1px"
                    borderColor="accent.default"
                  >
                    {item}
                  </Text>
                ))
              }
            </Stack>
          </Stack>
          <Stack gap="3">
            <Text textStyle="sm" lineHeight="1.5rem" fontWeight="semibold">Components</Text>
            <Stack borderLeftWidth="1px" gap="2">
              {
                ['Accorrdion', 'Checkbox', 'Tooltip'].map((item) => (
                  <Text
                    textStyle="sm"
                    lineHeight="1.5rem"
                    pl="4"
                    color="fg.muted"
                    borderLeftWidth="1px"
                    _hover={{ color: 'gray.800', borderLeftColor: 'gray.400' }}
                    ml="-1px"
                  >
                    {item}
                  </Text>
                ))
              }
            </Stack>
          </Stack>
        </Stack>
      </Box>
      <article
        class={css({
          '& > p': { my: '5', color: 'fg.muted', textStyle: 'md', lineHeight: '1.75rem' },
          '& > pre': {
            my: '5',
            p: '5',
            borderRadius: 'xl',
            backgroundColor: 'gray.950 !important',
            boxShadow: 'xs',
          },
          maxWidth: { xl: '43rem' },
          overflowX: 'hidden',
          flex: '1',
        })}
      >
        <Box py="4">
          <DemoTooltip client:load />
        </Box>
        <h1>{frontmatter.title}</h1>
        <p>{frontmatter.description}</p>
        <slot />
      </article>
      <Box as="aside" position="sticky" display={{ base: 'none', xl: 'block' }} top="112px">
        <div>
          <Stack
            as="ul"
            gap="2"
            fontSize="sm"
            lineHeight="1.5rem"
            color="fg.muted"
            listStyle="none"
            ps="0"
            position="fixed"
          >
            <Box as="li">
              <Text color="accent.default" fontWeight="medium">Headline 0</Text>
            </Box>
            {
              ['Headline 1', 'Headline 2', 'Headline 3', 'Headline 4'].map((headline) => (
                <Box as="li">
                  <Text>{headline}</Text>
                </Box>
              ))
            }
          </Stack>
        </div>
      </Box>
    </Stack>
  </Container>
</BaseLayout>
